[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/alok8663/Pandas/blob/main/Pandas1.ipynb)

# Series

In [20]:
import pandas as pd
x=[1,2,3,4,5]
var=pd.Series(x)
print(var)
print(type(var))
print(var[3])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
4

In [21]:
x1=[1,2,3,4,5]
var1=pd.Series(x,index=['a','s','d','f','g'],dtype='float',name='python')
print(var1)
print(type(var1))
print(var1['d'])

a    1.0
s    2.0
d    3.0
f    4.0
g    5.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
3.0

In [22]:
dic={'name':{'python','c','java'},'por':{12,13,14,15},'rank':{1,2,3,2}}
var2=pd.Series(dic)
print(var2)

name    {python, c, java}
por      {12, 13, 14, 15}
rank            {1, 2, 3}
dtype: object

In [23]:
s=pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [24]:
s1=pd.Series(12,index=[1,2,3,4,5,6],dtype='f')
print(s1)
print(type(s1))

1    12.0
2    12.0
3    12.0
4    12.0
5    12.0
6    12.0
dtype: float32
<class 'pandas.core.series.Series'>

In [25]:
s2=pd.Series(11,index=[1,2,3,4,5,6])
s3=pd.Series(14,index=[1,2,3])
print(s2+s3)

1    25.0
2    25.0
3    25.0
4     NaN
5     NaN
6     NaN
dtype: float64

# DataFrame

In [26]:
l=[1,2,3,4,5,6]
var4=pd.DataFrame(l)
print(var4)
print(type(var4))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [27]:
d={'a':[1,2,3,4,5],'s':[6,7,8,9,0]}
var5=pd.DataFrame(d)
print(var5)
print(type(var5))

   a  s
0  1  6
1  2  7
2  3  8
3  4  9
4  5  0
<class 'pandas.core.frame.DataFrame'>

In [28]:
d1={'a':[1,2,3,4,5],'s':[6,7,8,9,0],'d':[3,4,5,6,7]}
var6=pd.DataFrame(d1,columns=['a','d'],index=['a','s','d','f','g'])
print(var6)
print(type(var6))
print(var6['a']['f'])    # a=column, f=row

   a  d
a  1  3
s  2  4
d  3  5
f  4  6
g  5  7
<class 'pandas.core.frame.DataFrame'>
4

In [29]:
list=[[1,2,3,4,5],[6,7,8,9,1]]
a=pd.DataFrame(list)
print(a)
print(type(a))

   0  1  2  3  4
0  1  2  3  4  5
1  6  7  8  9  1
<class 'pandas.core.frame.DataFrame'>

In [30]:
sr ={'s':pd.Series([1,2,3,4]),'r':pd.Series([5,6,7,8])}
sr1=pd.DataFrame(sr)
print(sr1)
print(type(sr1))

   s  r
0  1  5
1  2  6
2  3  7
3  4  8
<class 'pandas.core.frame.DataFrame'>

# Arithmetic Operations

In [31]:
df1=pd.DataFrame({'A':[1,2,3,4,5],'B':[6,7,8,9,1]})
print(df1)

   A  B
0  1  6
1  2  7
2  3  8
3  4  9
4  5  1

In [32]:
df1['C']=df1['A']+df1['B']

In [33]:
print(df1)

   A  B   C
0  1  6   7
1  2  7   9
2  3  8  11
3  4  9  13
4  5  1   6

In [18]:
df1['C']=df1['A']*df1['B']

In [19]:
print(df1)

   A  B   C
0  1  6   6
1  2  7  14
2  3  8  24
3  4  9  36
4  5  1   5

In [35]:
df2=pd.DataFrame({'A':[12,22,32,42,25],'B':[26,27,28,92,12]})
print(df2)

    A   B
0  12  26
1  22  27
2  32  28
3  42  92
4  25  12

In [36]:
df2['Result']=df2['B']>=30
print(df2)

    A   B  Result
0  12  26   False
1  22  27   False
2  32  28   False
3  42  92    True
4  25  12   False

# Insert

In [37]:
df2=pd.DataFrame({'A':[12,22,32,42,25],'B':[26,27,28,92,12]})

In [38]:
df2.insert(2,'C',[1,2,3,4,5])
print(df2)

    A   B  C
0  12  26  1
1  22  27  2
2  32  28  3
3  42  92  4
4  25  12  5

In [39]:
df2.insert(3,'D',df2['A'])
print(df2)

    A   B  C   D
0  12  26  1  12
1  22  27  2  22
2  32  28  3  32
3  42  92  4  42
4  25  12  5  25

# Delete

In [40]:
df3=pd.DataFrame({'A':[12,22,32,42,25],'B':[26,27,28,92,12],'D':[1,2,3,4,5]})
print(df3)

    A   B  D
0  12  26  1
1  22  27  2
2  32  28  3
3  42  92  4
4  25  12  5

In [41]:
df3.pop('B')
print(df3)

    A  D
0  12  1
1  22  2
2  32  3
3  42  4
4  25  5

In [50]:
df3=pd.DataFrame({'A':[12,22,32,42,25],'B':[26,27,28,92,12],'D':[1,2,3,4,5]})
del df3['A']

In [51]:
print(df3)

    B  D
0  26  1
1  27  2
2  28  3
3  92  4
4  12  5